@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(13%)
    saturate(3326%) hue-rotate(213deg) brightness(103%) contrast(95%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --header-bg-mobile-color: #fff;
  --header-shadow: rgba(237, 237, 246, 0.2);
  --top-art-group-bg-color: #fff;
  --top-art-group-color-shadow: rgba(237, 237, 246, 0.2);
  --top-art-separate-bg-color: #ededf6;
  --top-avatar-shadow: rgba(0, 0, 0, 0.08);

  //   Dropdown
  --dropdown-inner-bg-color: #fff;
  --dropdown-inner-shadow: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  --menu-column-link: #0071dc;

  // navbar
  --navbar-bg-mobile: #fff;
  --navbar-shawdow-color: rgba(200, 200, 200, 0.4);

  // Home categories
  --cate-item-bg-color: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg-color: #fff;
  }

  // Product
  --filter-btn-color: #6c6c72;
  --filter-btn-bg: #fff;
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);
  --like-btn-shadow: rgba(124, 124, 124, 0.2);

  // Filter
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-select-tag-bg: #f8f8fb;
  --filter-footer-bg: #fff;

  // Footer
  --footer-bg-color: #eee;
  --footer-lg-bg-color: var(--header-bg-mobile-color);

  // Sign Up
  --auth-content-bg: #fff;

  @include abstracts.screen(md) {
    --auth-intro-bg: #fff;
  }

  // Form
  --form-placeholder-color: #d2d1d6;
}
